.boxed {
  border: solid black 1px;
  text-align: center;
  position: absolute;
  width: 18%;
}

.name {
  position: relative;
  margin-top: -10%;
  top: 50%;
  font-size: 18px;
}

.time {
  position: relative;
  top: 50%;
  font-size: 12px;
}
