<div class="boxed" *ngIf=course.days.monday style="left:5.1%" [style.top.px]="getYPos()" [style.height.px]="getBoxHeight()" [style.background]="color">
  <div class="name">{{course.name}}</div>
  <div class="time">{{course.start_time.toString()}}-{{course.end_time.toString()}}</div>
</div>

<div class="boxed" *ngIf=course.days.tuesday style="left:24.1%" [style.top.px]="getYPos()" [style.height.px]="getBoxHeight()" [style.background]="color">
  <div class="name">{{course.name}}</div>
  <div class="time">{{course.start_time.toString()}}-{{course.end_time.toString()}}</div>
</div>

<div class="boxed" *ngIf=course.days.wednesday style="left:43.1%" [style.top.px]="getYPos()" [style.height.px]="getBoxHeight()" [style.background]="color">
  <div class="name">{{course.name}}</div>
  <div class="time">{{course.start_time.toString()}}-{{course.end_time.toString()}}</div>
</div>

<div class="boxed" *ngIf=course.days.thursday style="left:62.1%" [style.top.px]="getYPos()" [style.height.px]="getBoxHeight()" [style.background]="color">
  <div class="name">{{course.name}}</div>
  <div class="time">{{course.start_time.toString()}}-{{course.end_time.toString()}}</div>
</div>

<div class="boxed" *ngIf=course.days.friday style="left:81.1%" [style.top.px]="getYPos()" [style.height.px]="getBoxHeight()" [style.background]="color">
  <div class="name">{{course.name}}</div>
  <div class="time">{{course.start_time.toString()}}-{{course.end_time.toString()}}</div>
</div>
