<div class="container">
  <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteCourse">Delete Course</button>

  <div class="modal" id="deleteCourse" role="dialog">
    <div class="vertical-align-center" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Course</h4>
            <br>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body">
            <li *ngFor="let course of courses" style="font-size: 20px">
              <span>{{course.name}}</span>
              <button type="button" class="btn btn-xs glyphicon glyphicon-trash" (click)="onDelete(course)" data-dismiss="modal"></button>
            </li>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

