<script src=html2canvas.js></script>
<script src=canvas2image.js></script>

<body style="min-width:1250px">
  <div style="text-align:center">
    <h1>
      {{title}}
    </h1>
  </div>

  <table>
    <tr>
      <th style="width:5%; border: solid black 2px"></th>
      <th style="width:19%; border-bottom: solid black 2px">Monday</th>
      <th style="width:19%; border-bottom: solid black 2px">Tuesday</th>
      <th style="width:19%; border-bottom: solid black 2px">Wednesday</th>
      <th style="width:19%; border-bottom: solid black 2px">Thursday</th>
      <th style="width:19%; border-bottom: solid black 2px">Friday</th>
    </tr>

    <app-course-list [courses]="courses"></app-course-list>

    <app-add-course class="courseButton" [courses]="courses" style="top: 10%"></app-add-course>
    <app-delete-course class="courseButton" [courses]="courses" style="top: 14%"></app-delete-course>
    <app-edit-course class="courseButton" [courses]="courses" style="top: 18%"></app-edit-course>
    <app-new-schedule class="courseButton" [courses]="courses" style="top: 22%"></app-new-schedule>

    <tr class="dottedUnderline">
      <td class="thickRightBorder">8am</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">9am</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">10am</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">11am</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">12pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">1pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">2pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">3pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">4pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="dottedUnderline">
      <td class="thickRightBorder">5pm</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="solidUnderline">
      <td class="thickRightBorder"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <br><br>
</body>
