table, th, td, tr {
  empty-cells: show;
}

table {
  border: solid black 3px;
  width: 80%;
  margin: auto;
  float: none;
  position: relative;
}

th {
  border: solid black 1px;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  min-height: 50px;
  height: 50px;
}

td {
  border-left: solid gray 1px;
  text-align: right;
  vertical-align: top;
  padding-right: 3px;
}

tr {
  border-width: 1px;
  min-height: 40px;
  height: 40px;
}

.dottedUnderline {
  border-bottom: dotted gray 1px;
}

.solidUnderline {
  border-bottom: solid gray 1px;
}

.thickRightBorder {
  border-right: solid black 2px;
}

.courseButton {
  position: absolute;
  margin-left: -13%;
}
