.vertical-align-center {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
  width: 25%;
  top: 25%;
  left: 35%;
}

.time-input-box {
  width: 15%;
}

.modal-blue .modal-backdrop {
  background-color: snow;
}
