<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addCourse">Add Course</button>

  <div class="modal" id="addCourse" role="dialog">
    <div class="vertical-align-center">
      <div class="modal-dialog" style="width:300px">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Course</h4>
            <br>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="boxed">
              <span>Course Name: </span><input style="width: 75%" placeholder="Course name" type="text" [(ngModel)]="name" required>
            </div>
            <br>
            <div style="margin: auto; width: 40%">
              <div style="word-spacing: 10px; font-weight: bold">M T W Th F</div>
              <div style="word-spacing: 5px">
                <input type="checkbox" [(ngModel)]="days.monday">
                <input type="checkbox" [(ngModel)]="days.tuesday">
                <input type="checkbox" [(ngModel)]="days.wednesday">
                <input type="checkbox" [(ngModel)]="days.thursday">
                <input type="checkbox" [(ngModel)]="days.friday">
              </div>
            </div>
          </div>

          <div class="container">
            <div>
              <span>Start Time: </span>
              <input placeholder="Start Hour" type="number" class="time-input-box" min="1" max="12" [(ngModel)]="start_time.hour" required> :
              <input placeholder="Start Minutes" type="number" class="time-input-box" min="0" max="60" [(ngModel)]="start_time.minutes" required>
              <select [(ngModel)]="start_time.PM" required>
                <option value="false">AM</option>
                <option value="true">PM</option>
              </select>
            </div>

            <div>
              <span>End Time: </span>
              <input placeholder="End Hour" type="number" class="time-input-box" style="margin-left: 4px" min="1" max="12" [(ngModel)]="end_time.hour" required> :
              <input placeholder="End Minutes" type="number" class="time-input-box" min="0" max="60"[(ngModel)]="end_time.minutes" required>
              <select [(ngModel)]="end_time.PM">
                <option value="false">AM</option>
                <option value="true">PM</option>
              </select>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="onSubmit()" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
